@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}